h1{
	font-family:serif;
	border-left:10px solid #000080;

}
h2{
	font-family:serif;
	border-left:5px solid #00bcd4;
}
span.content{
	color: #dc143c;
	font-size: 120%
}
p{
	font-size: 15px;
	font-height: 25px;
}
span.orange{
	color:#ff4500;
	font-size: 110%
}
em{
	font-weight:bold;
}