h1{
		border-left:10px solid navy;
		font-family: serif;
		letter-spacing:0.3em;
	}
	
	p.content{
		font-weight: bold;
		font-size: 18px;
	}
	span.IP{
		color: blue;
		font-size: 120%;
	}
	span.protocol{
		color:red;
		font-size:120%;
		
	}
	span.chap{
		font-family:sans-serif;
		font-size:50px;
	}
	p#footer{
		font-size:80%
	}
	p.content2{
		font-size: 12px;
		line-height: 1.5;
	}
	li{
		display: inline-block;
		width: 200px;
		background-color:#ccc;
		text-align:center;
		margin-left:0.5em;
		border:1px solid black;
		
	}